<div class="alert alert-dismissible" style="display: inline-block; background-color:#00008B;color:#fff;" role="alert">
  <button type="button" class="close" style="color:white;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= notice%>
</div>